# Checkpoints which take too much room
docker-share/checkpoints/parsec-roi-4_core/*
!docker-share/checkpoints/parsec-roi-4_core/ferret

# Disk and kernel images
docker-share/ubuntu-images/disk/x86-ubuntu-18_04-parsec
docker-share/ubuntu-images/kernel/vmlinux-5.4.49

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg
*.egg-info/

# PyCharm
/.idea/

# MacOS
.DS_Store

# Other files
m5out/
